  .main {
    display: flex;
    margin-top: 30px;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
  }
  
  .each-item {
    margin: 10px;
    background-color: black;
    border-radius: 10px;
  
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
  }
  
  .img-menu {
    width: 200px;
    height: 200px;
  }
  
  .each-item-choose {
    border: 1px solid lightgray;
  }
  .each-item-choose p {
    font-size: 25px;
    padding: 10px;
  }
  
  .table-info {
    display: flex;
    justify-content: space-evenly;
  }
  .table-info input {
     width: 40%;
  }
  
  .choose-itens {
    border: solid 1px lightgray;
    margin: 20px;
  }
  
  .total-box {
    display: flex;
    justify-content: center;
    color: rgb(90, 90, 90);
    padding: 10px;
    font-size: 25px;
  }

  .confirm-button {
    background-color:white;
    border: 1px solid rgb(24, 170, 97);
    border-radius: 9px;
    font-size: 20px;
    padding: 6px;
    transition: 1s;
  }
  .confirm-button:hover {
    background-color: rgb(197, 245, 215);
  }
  
  .cancel-button {
    background-color: rgb(173, 73, 55);
    border: 1px solid rgb(226, 73, 73);
    border-radius: 9px;
    font-size: 20px;
    padding: 6px;
  }
  .cancel-button:hover {
    background-color: rgb(230, 110, 101);
  }