* {
  margin: 0;
}

#root {
  display: flex;
}

.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.Header-container {
  width: 96vw;
}

.Header {
  text-align: center;
  background-color: #2c3535;
  padding: 15px;  
  width: 100%;
  font-size: 30px;
  font-family: 'Pirata One', cursive;
  color: #fff;
}

.burger-logo {
  width: 100px;
  margin: 0 45% 5% 45%;
}

.login-area, .subscribe-area {
  background-image: linear-gradient(#f28e0ca4,#f2ad0ca4), url("../Images/Map_Tartaria.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.input-box, .register-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
}

.login-data, .subscribe-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
}

.email-data, .password-data, .email-sub-data, .password-sub-data, .type-sub-data, .name-sub-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.input-box form, .register-box form  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 20px 20px 0;
}

.input-box form label .register-box form label{
  font-family: 'Rosario', sans-serif;
  font-size: 16px;
  margin: 8px;
  font-weight: bolder;
  color: #000000;
}

.input-box form input, .register-box form input {
  width: 350px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid;
}

::-webkit-input-placeholder {
  font-family: 'Rosario', sans-serif;
  font-size: 16px;
}

.link-register a {
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
  color:#2c3535
}

.login-buttom, .subscribe-buttom {
  font-family: 'Rosario', sans-serif;
  width: 350px;
  height: 35px;
  background-color: #2c3535;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  margin: 30px 0;
  box-shadow: 5px 5px 5px #000;
}

/* @media only screen and (min-width: 900px){
  .img-burguer {
      height: 430px;
  }
} */
