* {
  margin: 0;
}

#root {
  display: flex;
}

.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.Header-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Header {
  text-align: center;
  background-color: #2c3535;
  padding: 15px;  
  width: 100%;
  font-size: 30px;
  font-family: 'Pirata One', cursive;
  color: #fff;
}

.burger-logo {
  height: 140px;
  margin: 0 45% 0 45%;
}

.login-area, .subscribe-area, .kitchen-area {
  background-image: linear-gradient(#f28e0ca4,#f2ad0ca4), url("../Images/Map_Tartaria.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.input-box, .register-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
}

.login-data, .subscribe-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-data, .password-data, .email-sub-data, .password-sub-data, .type-sub-data, .name-sub-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-box form, .register-box form  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 0 20px 0 0;
}

.input-box form label, .register-box form label{
  font-family: 'Rosario', sans-serif;
  font-size: 16px;
  margin: 2px;
  font-weight: bolder;
  color: #000000;
}

.input-box form input, .register-box form input {
  width: 350px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid;
}

::-webkit-input-placeholder {
  font-family: 'Rosario', sans-serif;
  font-size: 16px;
}

.link-register a {
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
  color:#2c3535;
}

.link-register {
  padding-top: 30px;
}

.login-buttom, .subscribe-buttom {
  font-family: 'Rosario', sans-serif;
  width: 350px;
  height: 35px;
  background-color: #2c3535;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  margin: 5px 30px 0;
  box-shadow: 5px 5px 5px #000;
}

.main {
  display: flex;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.section-menu {
  display: flex;
  flex-wrap: wrap;
}

.subtype-menu {
  width: 100%;
  padding: 3rem 3rem 1rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Pirata One', cursive;
}

.each-section {
  width: 50%;
}

.each-item {
  margin:0 10px;
  background-color: #202727;
  border: 10px solid transparent;
  border-image-source: url("../Images/shield.png");
  border-image-outset: px;
  border-image-repeat: repeat;
  border-top: none;
  border-radius: 0 0 10px 10px;
  color: white;
  font-size: 19px;
  padding: 15px 0;
}

.loading-img {
  width: 200px;
  margin-left: 60px;
  animation: load-logo infinite 2s;
}

.img-menu {
  width: 170px;
  height: 170px;
}

.img-shield {
  position: relative;
  top: 10px;
  padding-top: 10px;
  width: 92.2%;
  margin-bottom: 5px;
}

.each-item-choose {
  border: 1px solid white;
}

.each-item-choose p {
  font-size: 25px;
  padding: 10px;
  font-size: 16px;
}

.table-info {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0 0 0;
}

.table-info input {
  width: 40%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid;
}

.choose-itens {
  border: solid 1px white;
  margin: 20px;
  background-color: chocolate;
  color: white;
  font-weight: bold;
}

.total-word {
  font-family: 'Pirata One', cursive;
}

.total-box {
  display: flex;
  justify-content: center;
  color: rgb(90, 90, 90);
  padding: 10px;
  font-size: 25px;
}

.confirm-button, .logout-button, .order-done{
  font-family: 'Rosario', sans-serif;
  width: 70%;
  height: 35px;
  color: #fff;
  background-color:#f28e0c;
  border-radius: 10px;
  font-size: 16px;
  margin: 30px 0;
  transition: 1s;
}

.confirm-button:hover {
  background-color: rgb(133, 57, 7);
}

.logout-button {
  background-color: #2c3535;
  margin: 5px 0px 20px 210px;
  width: 60px;
}

.done-button {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 0, 55);
  animation: glowing 1500ms infinite;
}

@keyframes glowing {
  0% { background-color: #e4d023; -webkit-box-shadow: 0 0 3px #35b084; }
  50% { background-color: rgb(219, 88, 12); -webkit-box-shadow: 0 0 3px #8BC34A; }
  100% { background-color: #ff0000; -webkit-box-shadow: 0 0 3px #35b084; }
}

.kitchen-area .logout-button {
  margin: 2% 0 0 90%;
}

.orders-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
  background-size: cover;
}

.orders-pending {
  overflow: scroll;
  margin: 1.2rem;
  padding: 1rem;
  box-shadow: 8px 8px 8px rgba(7, 7, 7, 0.658);
  background-image: url("../Images/pergaminhoct.png");
  height: 300px;
}

.order-done {
  position: relative;
  bottom: -20px;
  font-family: 'Rosario', sans-serif;
  width: 70%;
  height: 30px;
  margin: 5% 15%;
  color: #fff;
  background-color:#2c3535;
  border-radius: 10px;
  font-size: 16px;
  transition: 1s;
}

@media only screen and (min-width: 900px) {
  .img-menu {
    width: 200px;
      height: 200px;
  }
  .img-shield {
    width: 94%;
  }
  .each-item {
    font-size: 22px;
  }
} 

@media only screen and (min-width: 1000px){
  .img-menu {
    width: 300px;
      height: 300px;
  }
  .img-shield {
    width: 96%;
  }
  .each-item {
    font-size: 25px;
  }
}