* {
    margin: 0;
}

#root {
    display: flex;
}

.subscribe-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.register-box {
    width: 100%;
    padding: 50px;
    background-color: rgb(226, 139, 8);
}