.Header {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    font-size: 40px;

    background-color: rgb(44, 53, 53);
    color: white;
    padding: 10px;  
    width: 100%;
    height: auto;
  }